{% extends 'base.html.twig' %}

{% block body %}
    <h1>Destinos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destino in destinos %}
            <tr>
                <td><a href="{{ path('destino_show', { 'id': destino.id }) }}">{{ destino.id }}</a></td>
                <td>{{ destino.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('destino_show', { 'id': destino.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('destino_edit', { 'id': destino.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('destino_new') }}">Create a new destino</a>
        </li>
    </ul>
{% endblock %}
