{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ventum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ventum.id }}</td>
            </tr>
            <tr>
                <th>Enero</th>
                <td>{{ ventum.enero }}</td>
            </tr>
            <tr>
                <th>Febrero</th>
                <td>{{ ventum.febrero }}</td>
            </tr>
            <tr>
                <th>Marzo</th>
                <td>{{ ventum.marzo }}</td>
            </tr>
            <tr>
                <th>Abril</th>
                <td>{{ ventum.abril }}</td>
            </tr>
            <tr>
                <th>Mayo</th>
                <td>{{ ventum.mayo }}</td>
            </tr>
            <tr>
                <th>Junio</th>
                <td>{{ ventum.junio }}</td>
            </tr>
            <tr>
                <th>Julio</th>
                <td>{{ ventum.julio }}</td>
            </tr>
            <tr>
                <th>Agosto</th>
                <td>{{ ventum.agosto }}</td>
            </tr>
            <tr>
                <th>Septiembre</th>
                <td>{{ ventum.septiembre }}</td>
            </tr>
            <tr>
                <th>Octubre</th>
                <td>{{ ventum.octubre }}</td>
            </tr>
            <tr>
                <th>Noviembre</th>
                <td>{{ ventum.noviembre }}</td>
            </tr>
            <tr>
                <th>Diciembre</th>
                <td>{{ ventum.diciembre }}</td>
            </tr>
            <tr>
                <th>Anno</th>
                <td>{{ ventum.anno }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('venta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('venta_edit', { 'id': ventum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
