<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}SISGOM{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/Ionicons/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/adminlte/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/adminlte/css/skins/_all-skins.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/toastr/toastr.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon.ico') }}" />
</head>
<body  class="hold-transition skin-blue sidebar-mini"> {# sidebar-collapse para que salga colapsado el menu izquierdo#}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        {#{ include('menu.html.twig') }#}

        <div class="wrapper hold-transition skin-blue sidebar-mini">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{ path('inicio') }}" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>OM</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>SISGOM</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('public/images/avatar/' ~ app.user.avatar) }}" class="user-image" alt="Imagen de Usuario">
                                    <span class="hidden-xs">{{ app.user.NombreCompleto }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="{{ asset('public/images/avatar/' ~ app.user.avatar) }}" class="img-circle" alt="Imagen de Usuario">
                                        <p>
                                            {{ app.user.NombreCompleto }}
                                            <small>
                                                {% if app.user.creado|date('m') == 1 %}
                                                    Miembro desde Enero de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 2 %}
                                                    Miembro desde Febrero de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 3 %}
                                                    Miembro desde Marzo de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 4 %}
                                                    Miembro desde Abril de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 5 %}
                                                    Miembro desde Mayo de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 6 %}
                                                    Miembro desde Junio de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 7 %}
                                                    Miembro desde Julio de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 8 %}
                                                    Miembro desde Agosto de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 9 %}
                                                    Miembro desde Septiembre de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 10 %}
                                                    Miembro desde Octubre de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 11 %}
                                                    Miembro desde Noviembre de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                                {% if app.user.creado|date('m') == 12 %}
                                                    Miembro desde Diciembre de {{ app.user.creado|date('Y') }}
                                                {% endif %}
                                            </small>
                                            {% if app.user.role == "ROLE_ADMINISTRADOR" %}
                                                Administrador
                                            {% endif %}
                                            {% if app.user.role == "ROLE_OPERADOR" %}
                                                Operador
                                            {% endif %}
                                            {% if app.user.role == "ROLE_CONSULTANTE" %}
                                                Consultante
                                            {% endif %}
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path('rh_usuarios_view', { id: app.user.id }) }}" class="btn btn-info btn-flat glyphicon glyphicon-edit"> <strong>Perfil</strong></a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('rh_usuarios_logout') }}" class="btn btn-danger btn-flat glyphicon glyphicon-log-out"> <strong>Salir</strong></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            {#<li>#}
                              {#<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
                            {#</li>#}
                        </ul>
                    </div>
                </nav>
            </header>

            <!-- =============================================== -->

            <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{ asset('public/images/avatar/' ~ app.user.avatar) }}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{{app.user.username}}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Conectado</a>
                        </div>
                    </div>
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MENÚ DE NAVEGACIÓN</li>
                        <li id="inicio">
                            <a href="{{ path('inicio') }}">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>Inicio</span>
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMINISTRADOR') %}

                            <li id="usuarios">
                                <a href="{{ path('rh_usuarios_index') }}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>Usuarios</span>
                                </a>
                            </li>
                            <li id="nomencladores" class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-check"></i><span>Nomencladores</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li id="destino">
                                        <a href="{{ path('destino_index') }}">
                                            <span>Destino</span>
                                        </a>
                                    </li>
                                    <li id="unidad">
                                        <a href="{{ path('unidad_index') }}">
                                            <span>Unidad</span>
                                        </a>
                                    </li>
                                    <li id="tipoproducto">
                                        <a href="{{ path('tipoproducto_index') }}">
                                            <span>Tipo de Producto</span>
                                        </a>
                                    </li>
                                    <li id="medida">
                                        <a href="{{ path('producto_index') }}">
                                            <span>Producto</span>
                                        </a>
                                    </li>
                                    <li id="producto">
                                        <a href="{{ path('medida_index') }}">
                                            <span>Medida</span>
                                        </a>
                                    </li>
                                    </ul>

                            </li>
                            <li id="planificacion" class="treeview">
                            <a href="#">
                                <i class="glyphicon glyphicon-edit"></i><span>Planificación</span>
                                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li id="planificacionproduccion">
                                    <a href="{{ path('planificacionproduccion_index') }}">
                                        <span>Planificación Producción</span>
                                    </a>
                                </li>
                                <li id="planificacionsiembra">
                                    <a href="#">
                                        <span>Planificación Siembra</span>
                                    </a>
                                </li>
                                <li id="planificacionleche">
                                    <a href="#">
                                        <span>Planificación Leche</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                            <li id="gestionar" class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-list-alt"></i><span>Gestionar</span>
                                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li id="produccion">
                                        <a href="{{ path('produccion_index') }}">
                                            <span>Producción</span>
                                        </a>
                                    </li>
                                    <li id="siembra">
                                        <a href="#">
                                            <span>Siembra</span>
                                        </a>
                                    </li>
                                    <li id="leche">
                                        <a href="#">
                                            <span>Leche</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li id="reportes">
                                <a href="{{ path('reportes') }}">
                                    <i class="glyphicon glyphicon-alert"></i>
                                    <span>Reportes</span>
                                </a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_OPERADOR') %}

                            <li id="planificacion" class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-edit"></i><span>Planificación</span>
                                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li id="planificacionproduccion">
                                        <a href="{{ path('planificacionproduccion_index') }}">
                                            <span>Planificación Producción</span>
                                        </a>
                                    </li>
                                    <li id="planificacionsiembra">
                                        <a href="#">
                                            <span>Planificación Siembra</span>
                                        </a>
                                    </li>
                                    <li id="planificacionleche">
                                        <a href="#">
                                            <span>Planificación Leche</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li id="gestionar" class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-list-alt"></i><span>Gestionar</span>
                                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li id="produccion">
                                        <a href="{{ path('produccion_index') }}">
                                            <span>Producción</span>
                                        </a>
                                    </li>
                                    <li id="siembra">
                                        <a href="#">
                                            <span>Siembra</span>
                                        </a>
                                    </li>
                                    <li id="leche">
                                        <a href="#">
                                            <span>Leche</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li id="reportes">
                                <a href="{{ path('reportes') }}">
                                    <i class="glyphicon glyphicon-alert"></i>
                                    <span>Reportes</span>
                                </a>
                            </li>
                        {% endif %}


                        {% if is_granted('ROLE_CONSULTANTE') %}
                            <li id="reportes">
                                <a href="{{ path('reportes') }}">
                                    <i class="glyphicon glyphicon-alert"></i>
                                    <span>Reportes</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- =============================================== -->

            <!-- Content Wrapper. Contains page content -->
            {% block wrapper %}
                <!-- aqui es donde se va a poner todo el contenido para ver -->
            {% endblock %}
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <strong>Copyright &copy; 2019 <a href="#">Joven Club de Computación de Sancti Spíritus</a>.</strong> Todos los derechos reservados.
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">


                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">     </div>
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('public/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('public/adminlte/js/adminlte.min.js') }}"></script>
    {#<script src="{{ asset('public/adminlte/js/demo.js') }}"></script>#}
    <script src="{{ asset('public/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/rh/js/validaciones.js') }}"></script>
    <script src="{{ asset('public/toastr/toastr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree();
            var seleccion = "#"+$('#seleccion').val();
            $(seleccion).addClass('active');
        })
    </script>
{% endblock %}
</body>
</html>