{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipoproductos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoproducto in tipoproductos %}
            <tr>
                <td><a href="{{ path('tipoproducto_show', { 'id': tipoproducto.id }) }}">{{ tipoproducto.id }}</a></td>
                <td>{{ tipoproducto.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipoproducto_show', { 'id': tipoproducto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipoproducto_edit', { 'id': tipoproducto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipoproducto_new') }}">Create a new tipoproducto</a>
        </li>
    </ul>
{% endblock %}
