{% extends 'layout.html.twig' %}

{% block wrapper %}
    {{ parent() }}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Perfil de Usuario
        {#<small>it all starts here</small>#}
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('inicio') }}"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
        {% if user.role=='ROLE_ADMINISTRADOR_NACIONAL' or user.role=='ROLE_ADMINISTRADOR_PROVINCIAL' %}
            <li><a href="{{ path('rh_usuarios_index') }}">Usuarios</a></li>
        {% endif %}   
        <li><a class="active">Perfil</a></li>
      </ol>
    </section>

        <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Perfil</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Perfil</a></li>
              {% if app.user.role == "ROLE_ADMINISTRADOR_NACIONAL" or app.user.role == "ROLE_ADMINISTRADOR_PROVINCIAL" or app.user.role == "ROLE_CAPITAL_HUMANO_NACIONAL" or app.user.role == "ROLE_CAPITAL_HUMANO_PROVINCIAL" or app.user.role == "ROLE_SEGURIDAD_SALUD" %}
                  <li><a href="{{ path('rh_usuarios_edit', { id: user.id }) }}" data-toggle=""> Editar</a></li>
              {% else %}
                  <li><a href="{{ path('rh_usuarios_cambio', { id: user.id }) }}" data-toggle=""> Cambiar Contraseña</a></li>
              {% endif %}  
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
	    
                <div class="box box-warning">
                    <div class="box-body box-profile">
                      <img class="profile-user-img img-responsive img-circle" src="{{ asset('public/images/avatar/' ~ user.avatar) }}" alt="Foto de Perfil de Usuario">
                      
                      <div class="form-group col-md-12">
                          <h3 class="profile-username text-center">{{ user.nombreCompleto }}</h3>
                      </div>  
                      
                      <div class="form-group col-md-6">
                          <strong><i class="fa fa-user margin-r-5"></i> Nombre de Usuario</strong>
                          <p class="text-muted">{{ user.username }}</p>
                      </div>      
                      
                      <hr>

                      <div class="form-group col-md-6">
                          <strong><i class="fa fa-user-secret margin-r-5"></i> Rol</strong>
                          {% if user.role=='ROLE_Operador' %}
                              <p class="text-muted">Operador</p>
                          {% elseif user.role=='ROLE_CONSULTANTE' %}
                              <p class="text-muted">Consultante</p>
                          {% elseif user.role=='ROLE_RESPONSABLE' %}
                              <p class="text-muted">Responsable</p>
                          {% elseif user.role=='ROLE_ADMINISTRADOR' %}
                              <p class="text-muted">Administrador</p>
                          {% endif %}
                      </div>
                      
                      <hr>

                      <div class="form-group col-md-6">
                          <strong><i class="fa fa-pencil margin-r-5"></i> Creado</strong>
                          <p>{{user.creado|date('d-m-Y H:i')}}</p>
                      </div>
                      
                      <hr>

                      <div class="form-group col-md-6">
                          <strong><i class="fa fa-calendar margin-r-5"></i> Actualizado</strong>
                          <p>{{ user.actualizado|date('d-m-Y H:i') }}</p>
                      </div>
                      {% if user.role=='ROLE_ADMINISTRADOR_NACIONAL' or user.role=='ROLE_ADMINISTRADOR_PROVINCIAL' %}
                          <p>{{ include('Jc:ObdulioBundle:Default:forms/form.html.twig', { form: delete_form, message: 'Estás seguro?'}) }}</p>
                      {% endif %}    
                    </div>
                    <!-- /.box-body -->
                  </div>    
                
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
        <!-- /.box-body -->
        {#<div class="box-footer">
          Footer
        </div>#}
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
<input type="hidden" value="usuarios" id="seleccion">
{% endblock %}


