{% extends 'layout-reportes.html.twig' %}

{% block wrapper_content %}

	<!-- Main content -->
	<section
		class="content">

		<!-- PANEL -->
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			<div
				class="panel panel-primary">
				<!-- TITULO PANEL -->
				<div class="panel-heading" role="tab" id="headingHuevo">
					<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHuevo" aria-expanded="false" aria-controls="collapseHuevo">
						Huevos Diarios
					</h4>
				</div>
				<!--/.TITULO PANEL -->
				<!-- CONTENIDO PANEL -->
				<div id="collapseHuevo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHuevo">
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table datatable">
								<thead>
									<tr>
										<th>Unidad</th>
										<th>Real</th>
										<th>Fecha</th>
									</tr>
								</thead>
								<tbody>
									{% for dato in reporte %}
										{% if dato.producto == 'Huevo' %}
											<tr>
												<td>{{ dato.tipounidad }}
													{{ dato.unidad }}</td>
												<td>{{ dato.real }}</td>
												<td>{{ dato.fecha | date("Y-m-d") }}</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer">
						<h3 class="header-title">Totales</h3>
						<div class="table-responsive">
							<table id="example1" class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Unidad</th>
										<th>Plan</th>
										<th>Real</th>
										<th>Diferencia</th>
										<th>Porciento</th>
									</tr>
								</thead>
								<tbody>
									{% for total in totales %}
										{% if dato.producto == 'Huevo' %}
											<tr>
												<td>{{ total.unidad }}</td>
												<td>{{ total.plan }}</td>
												<td>{{ total.real }}</td>
												<td>{{ total.plan - total.real }}</td>
												{% if total.plan == 0 %}
													<td>-</td>
												{% else %}
													<td>{{ (total.real * 100 / total.plan) |round(2,'common') }}%</td>
												{% endif %}
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/.CONTENIDO PANEL -->
			</div>

		</div>
		<!--/.PANEL -->

	</section>
	<!-- /.Main content -->
{% endblock wrapper_content %}

{% block javascripts %}
{{ parent() }}
  <script>
    $('.panel-collapse.collapse:first').addClass('in');
  </script>
{% endblock %}