{% extends 'layout.html.twig' %}

{% block wrapper %}
{{ parent() }}
<div class="content-wrapper">

  {{ include('JcObdulioBundle:Default:messages/success.html.twig') }}
  {{ include('JcObdulioBundle:Default:messages/danger.html.twig') }}

  <!-- FILTROS -->
  <div class="box-info">
    <div class="box-body">
      {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'class': 'form-inline'} }) }}
      
        <div class="form-group">
          {{ form_errors(form.reporte) }}
          {{ form_widget(form.reporte, { 'attr': {
            'class': 'form-control input-lg select2-single',
            'data-placeholder': 'Seleccione un Reporte'
          } }) }}
        </div>
        <div class="form-group">
          {{ form_errors(form.fechainicio) }}
          {{ form_widget(form.fechainicio, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'Filtro Fecha inicio'} }) }}
        </div>
        <div class="form-group">
          {{ form_errors(form.fechafin) }}
          {{ form_widget(form.fechafin, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'Filtro Fecha fin'} }) }}
        </div>

        <input type="submit" class="btn btn-primary" value="Ver Reporte" />

        <button class="btn btn-info pull-right" type="button" data-toggle="collapse" data-target="#collapseFiltros"
          aria-expanded="false" aria-controls="collapseFiltros">
          Más filtros
        </button>
        <div class="collapse" id="collapseFiltros">

          <div class="form-group">
            {{ form_errors(form.tipoproducto) }}
            {{ form_widget(form.tipoproducto, { 'attr': {
              'class': 'form-control input-lg select2-single',
              'data-placeholder': 'Seleccione un Tipo de Producto'
            } }) }}
          </div>
          <div class="form-group">
            {{ form_errors(form.unidad) }}
            {{ form_widget(form.unidad, { 'attr': {
              'class': 'form-control input-lg select2-single',
              'data-placeholder': 'Seleccione una Unidad'
            } }) }}
          </div>
          <div class="form-group">
            {{ form_errors(form.tipounidad) }}
            {{ form_widget(form.tipounidad, { 'attr': {
              'class': 'form-control input-lg select2-single',
              'data-placeholder': 'Seleccione un Tipo de Unidad'
            } }) }}
          </div>
        </div>

        {{ form_end(form) }}
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.FILTROS -->

  {% if reporte == null %}{{ include('JcObdulioBundle:Reportes:general.html.twig') }}{% endif %}
  {% if reporte == 'operativo' %} {{ include('JcObdulioBundle:Reportes:operativo.html.twig') }} {% endif %}
  {% if reporte == 'consejo_popular' %} {{ include('JcObdulioBundle:Reportes:consejo_popular.html.twig') }} {% endif %}
  {% if reporte == 'acumulado' %} {{ include('JcObdulioBundle:Reportes:acumulado.html.twig') }} {% endif %}
  {% if reporte == 'prod_cultivo' %} {{ include('JcObdulioBundle:Reportes:prod_cultivo.html.twig') }} {% endif %}
  {% if reporte == 'huevo' %} {{ include('JcObdulioBundle:Reportes:huevo.html.twig') }} {% endif %}
  {% if reporte == 'ventas_viandas' %} {{ include('JcObdulioBundle:Reportes:ventas_viandas.html.twig') }} {% endif %}
  {% if reporte == 'ventas_hortalizas' %} {{ include('JcObdulioBundle:Reportes:ventas_hortalizas.html.twig') }} {% endif %}
  {% if reporte == 'ventas_granos' %} {{ include('JcObdulioBundle:Reportes:ventas_granos.html.twig') }} {% endif %}
  {% if reporte == 'ventas_frutas' %} {{ include('JcObdulioBundle:Reportes:ventas_frutas.html.twig') }} {% endif %}
  {% if reporte == 'ventas_totales' %} {{ include('JcObdulioBundle:Reportes:ventas_totales.html.twig') }} {% endif %}
  {% if reporte == 'ventas_tot_est' %} {{ include('JcObdulioBundle:Reportes:ventas_tot_est.html.twig') }} {% endif %} 
  {% if reporte == 'ventas_tot_est_dia' %} {{ include('JcObdulioBundle:Reportes:ventas_tot_est_dia.html.twig') }}{% endif %}
  {% if reporte == 'prod_dec_sem5' %} {{ include('JcObdulioBundle:Reportes:prod_dec_sem5.html.twig') }} {% endif %}
  {% if reporte == 'prod_dec_sem4' %} {{ include('JcObdulioBundle:Reportes:prod_dec_sem4.html.twig') }} {% endif %}
  {% if reporte == 'prod_dec_sem3' %} {{ include('JcObdulioBundle:Reportes:prod_dec_sem3.html.twig') }} {% endif %}
  {% if reporte == 'prod_dec_sem2' %} {{ include('JcObdulioBundle:Reportes:prod_dec_sem2.html.twig') }} {% endif %}
  {% if reporte == 'prod_dec_sem1' %} {{ include('JcObdulioBundle:Reportes:prod_dec_sem1.html.twig') }} {% endif %}
  {% if reporte == 'sust_imp_anual' %} {{ include('JcObdulioBundle:Reportes:sust_imp_anual.html.twig') }}{% endif %}
  {% if reporte == 'sust_imp_mensual' %} {{ include('JcObdulioBundle:Reportes:sust_imp_mensual.html.twig') }}{% endif %}
  {% if reporte == 'ventas_est_plan_real' %} {{ include('JcObdulioBundle:Reportes:ventas_est_plan_real.html.twig') }} {% endif %}
  {% if reporte == 'ventas_est_prod_total' %} {{ include('JcObdulioBundle:Reportes:ventas_est_prod_total.html.twig') }} {% endif %}
  {% if reporte == 'ratificado_mes' %} {{ include('JcObdulioBundle:Reportes:ratificado_mes.html.twig') }} {% endif %}
  {% if reporte == 'ratificado_acumulado' %} {{ include('JcObdulioBundle:Reportes:ratificado_acumulado.html.twig') }} {% endif %}
  {% if reporte == 'turismo' %} {{ include('JcObdulioBundle:Reportes:turismo.html.twig') }} {% endif %}


</div>
{% endblock wrapper %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('public/select2/dist/js/select2.min.js') }}"></script>
<script src="{{ asset('public/select2/dist/js/i18n/es.js') }}"></script>
<script src="{{ asset('public/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('public/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js') }}"></script>
<script src="{{ asset('public/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('public/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/export/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/export/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/export/jszip.min.js') }}"></script>
<script src="{{ asset('public/export/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/export/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/export/buttons.colVis.min.js') }}"></script>

<script>
  $(function () {
    $('.select2-single').select2();
    $('.datepicker').datepicker();
    var table = $(".datatable").DataTable({
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: true,
      info: true,
      autoWidth: false,
      dom: 'Blfrtip',
      buttons: [{
          extend: 'copy',
          text: '<i class="fa fa-files-o"></i> Copiar',
          title: 'Reporte operativo',
          exportOptions: {
            columns: [1, 2, 3, 4, 5, 6]
          }
        },
        {
          extend: 'excel',
          text: '<i class="fa fa-file-excel-o"></i> Excel',
          title: 'Reporte operativo',
          exportOptions: {
            columns: [1, 2, 3, 4, 5, 6]
          }
        },
        {
          extend: 'pdf',
          text: '<i class="fa fa-file-pdf-o"></i> PDF',
          title: 'Reporte operativo',
          exportOptions: {
            columns: [1, 2, 3, 4, 5, 6]
          }
        },
        {
          extend: 'print',
          text: '<i class="fa fa-print"></i> Imprimir',
          title: 'Reporte operativo',
          exportOptions: {
            columns: [1, 2, 3, 4, 5, 6]
          }
        }, {
          extend: 'colvis',
          text: '<i class="fa fa-eye"></i> Columnas Visibles'
        }
      ],
      language: {
        buttons: {
          copyTitle: 'Copiado',
          copySuccess: {
            _: '%d filas al portapales',
            1: '1 fila al portapapeles'
          }
        }
      }
    });

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that.search(this.value).draw();
        }
      });
    });

    $('#tb_operativos tfoot tr').appendTo('#tb_operativos thead');

    /* $('input:text').attr('style',
      'width: 100%'); // ojo con esto, es importante sino salen muy grandes los search por columnas */
    $('.dt-button').removeClass('buttons-html5');
    $('.dt-button').removeClass('buttons-copy');
    $('.dt-button').removeClass('buttons-pdf');
    $('.dt-button').removeClass('buttons-excel');
    $('.dt-button').removeClass('buttons-print');
    $('.dt-button').addClass('btn btn-sm btn-primary');
    $('.dt-button').removeClass('dt-button');
  });
</script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('public/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/export/buttons.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/select2/dist/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
<style type="text/css" class="init">
  tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
  }
</style>
{% endblock %}