{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unidad in unidads %}
            <tr>
                <td><a href="{{ path('unidad_show', { 'id': unidad.id }) }}">{{ unidad.id }}</a></td>
                <td>{{ unidad.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unidad_show', { 'id': unidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('unidad_edit', { 'id': unidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidad_new') }}">Create a new unidad</a>
        </li>
    </ul>
{% endblock %}
