{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ unidad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('unidad_edit', { 'id': unidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
